<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding> 
        <binding name="BasicHttpBinding_IApplicationService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    
    <client>
      <endpoint address="http://localhost/ProjectX.ApplicationService/ApplicationService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationService"
      contract="ProjectX.ApplicationService.Contracts.IApplicationService"
      name="BasicHttpBinding_IApplicationService" behaviorConfiguration="subhasisBehavior"/>
    </client>

    <extensions>
      <behaviorExtensions>
        <add name="ClientMessageInspectorBehavior" type="ProjectX.ClientMessageInspectorBehaviorExtensionElement, ProjectX, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null "/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="subhasisBehavior">
          <ClientMessageInspectorBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    
  </system.serviceModel>
  <!--<applicationSettings>
    <ProjectX.Properties.Settings>
      <setting name="AppID" serializeAs="String">
        <value>1</value>
      </setting>
    </ProjectX.Properties.Settings>
  </applicationSettings>-->
</configuration>
