<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
	<!--Database Connection Here -->
	
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <services>  
      <service name ="ProjectX.ApplicationService.ApplicationService" behaviorConfiguration ="ProjectX.ApplicationService.Host.MessageBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ProjectX.ApplicationService/ApplicationService.svc"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="ProjectX.ApplicationService.Contracts.IApplicationService" behaviorConfiguration ="ApplicationServiceBehavior">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>        
      </service>        
    </services>
    
    <extensions>
      <behaviorExtensions>
        <add name="MessageBehavior" type="ProjectX.ApplicationService.Host.MessageBehaviorExtensionElement, ProjectX.ApplicationService.Host, Version=1.0.0.0, Culture=neutral, PublicKeyToken = null"/>
      </behaviorExtensions>
    </extensions>
   
    <behaviors>
      <serviceBehaviors>
        <behavior name="ProjectX.ApplicationService.Host.MessageBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="ApplicationServiceBehavior">
          <MessageBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <defaultDocument enabled="true">
      <files>
        <add value ="ApplicationService.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
